@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #996DAD;
}

.slideBtn {
  @apply bg-[#2B2A3C] z-10 h-1/2 w-8 text-white hover:bg-[#FFBADE] hover:text-black rounded-md
}

.customBtn {
  @apply bg-slate-400 border border-black mx-1 p-1
}

/* To hide the bottom scrollbar */
.scroll-container {
  overflow-x: auto; /* Allows horizontal scrolling */
  scrollbar-width: none; /* Hides the scrollbar */
}

/* WebKit-based browsers */
.scroll-container::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

.mini {
  @apply flex items-center gap-1 text-white
}

.slide-in {
  animation: slideIn 800ms linear;
}

.slide-out {
  animation: slideOut 800ms linear;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
  }
}

.pause:hover {
  animation-play-state: paused;
}